# AUTH
BETTER_AUTH_SECRET= # https://generate-secret.vercel.app/32
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=

# OIDC Provider (PAWMERY_PET_IDP)
PAWMERY_PET_IDP_CLIENT_ID=
PAWMERY_PET_IDP_CLIENT_SECRET=
PAWMERY_PET_IDP_DISCOVERY_URL=http://localhost:9000/application/o/pet-client/
