# AUTH
BETTER_AUTH_SECRET= # https://generate-secret.vercel.app/32
BETTER_AUTH_URL=http://localhost:3000

# Database (for better-auth session storage)
DATABASE_URL=mongodb://localhost:27017/pet-auth

# OIDC Provider (PAWMERY_PET_IDP)
PAWMERY_PET_IDP_CLIENT_ID=
PAWMERY_PET_IDP_CLIENT_SECRET=
PAWMERY_PET_IDP_ISSUER=http://localhost:9000/application/o/pet-client/
